
  <section class="content">
    <div class="container-fluid">
      <h2 class="text-success mt-2">Device Testing System</h2>
      <div class="row">
        <div class="row container mt-2">
         <a class="text-success" href="camera-view"><i class="fa-solid fa-camera"></i>&nbsp; Web Cam</a>
         <a class="text-success" href="image-view"><i class="fa-solid fa-print"></i>&nbsp;PDF Viewer</a>
         <a class="text-success" href="qr-scanner"><i class="fa-solid fa-qrcode"></i>&nbsp;Scanner</a>
        </div>
      </div>
    </div>
  </section>

